body {
    background-color: #FFF7E6; 
    font-family: 'Georgia', serif; 
    margin: 0;
    padding: 0;
    line-height: 1.7; 
    color: #6B4F3F;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #B58E6A; 
    color: #FFFDF9;
    padding: 20px 30px;
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.4em;
    font-weight: 700;
}
main {
    flex-grow: 1;
    padding: 50px 20px;
    max-width: 90%; 
    width: 90%;
    margin: 40px auto; 
    background-color: #FFFDF9; 
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05); 
}
main h1, main h2 {
    color: #6B4F3F; 
    border-bottom: 2px solid #B58E6A; 
    padding-bottom: 8px;
    margin-bottom: 30px;
    font-weight: 600;
}
main sup {
    color: #B58E6A; 
    font-weight: bold;
}
footer {
    background-color: #D9C6B0; 
    color: #6B4F3F;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
    margin-top: auto; 
}
button {
    background-color: #6B4F3F;
    color: white;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #5C4133;
}