{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <a href="{{index_url}}">На главную страницу</a>
    <h1>База знаний</h1>
    
    <div class="bar">
        <ul class="links">
            <div class="button">
                <li><a href="/lab8/articles">Список статей</a></li>
                <li><a href="/lab8/create">Создать статью</a></li>
                <li><a href="/lab8/login">Войти</a></li>
                <li><a href="/lab8/register">Регистрация</a></li>
            </div>
            <li class="user-name">Anonymous</li>
        </ul>
    </div>
{% endblock %}